body {
  background: radial-gradient(
    circle at 7.5% 24%,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93.8%
  );
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
}

.app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}

.city {
  margin: 0;
  font-size: 32px;
}

a {
  color: rgb(251, 83, 153);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 8px;
  width: 80%;
  padding: 16px 20px;
  font-size: 16px;
}

.search-form-button {
  background-color: rgb(255, 114, 173);
  color: white;
  margin-left: 8px;
  padding: 16px 28px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
}

main {
  line-height: 175%;
  padding: 30px 0 30px 0;
}

.data {
  display: flex;
  justify-content: space-between;
}

p {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}

.humidity {
  font-weight: 600;
  color: rgb(251, 83, 153);
}

.wind {
  font-weight: 600;
  color: rgb(251, 83, 153);
}

.temperature-data {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.icon {
  font-size: 48px;
  position: relative;
  top: -40px;
}

.temp {
  font-weight: 600;
  font-size: 72px;
}

.unit {
  font-weight: 600;
  font-size: 16px;
  position: relative;
  margin-left: 2px;
  top: -18px;
}

.weather-forecast-date {
  text-align: center;
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

.weather-forecast-icon {
  text-align: center;
  font-size: 48px;
  margin: 20px;
}

.weather-forecast-temperatures {
  text-align: center;
  font-weight: 600;
  line-height: 16px;
  font-size: 14px;
  color: rgb(251, 83, 153);
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 8px;
  margin-top: 4px;
}

.weather-forecast {
  display: flex;
  justify-content: space-evenly;
  margin-top: 12px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}
